<h4 class="ui center aligned medium icon header">
  <i class="circular red coffee icon"></i>
  Say Something
</h4>

<div class="ui two column grid">
  <!-- Chat box: Start -->
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <!-- Content: Start -->
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <!-- Content: End -->
      <!-- Extra Content: Start -->
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted red edit icon"></i>
            </div>
          </div>
        </form>
      </div>
      <!-- Extra Content: End -->
    </div>
  </div>
  <!-- Chat box: End -->

  <!-- Right side bar: Start -->
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Right side bar: End -->
</div>
